{% extends "base.html" %}

{% block content %}

  <!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

  <div class='information-container'>
    <div class='categories'>
      <h2>Categories</h2>
      {% for i in catalogs %}

      <p><a href = '{{url_for('ListItems', catalog_name = i.name) }}'>{{i.name}}</a></p>

      {% endfor %}


    </div>
    <hr>

    <div class='items'>
      <h2>Latest items</h2>

      {% for i in items %}
      <a href = '{{url_for('Details', catalog_name = i.catalog.name, catalogitem_name = i.name) }}'>{{i.name}} - ({{i.catalog.name}})</a>
      {% endfor %}
    </div>
  </div>

</body>

</html>

{% endblock %}
